In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('abusive.csv')

In [5]:
text_column = df['ABUSIVE']

In [6]:
import re

def clean_text(text):
    # Hapus karakter non-alfanumerik menggunakan RegEx
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    # Konversi teks menjadi huruf kecil
    text = text.lower()
    return text

In [7]:
text_column_cleaned = text_column.apply(clean_text)

In [8]:
df['cleaned_text'] = text_column_cleaned

In [9]:
df.to_csv('abusive_cleaned.csv', index=False)

In [10]:
df.head()

   ABUSIVE cleaned_text
0     alay         alay
1    ampas        ampas
2     buta         buta
3  keparat      keparat
4   anjing       anjing

In [11]:
df.tail()

         ABUSIVE cleaned_text
120        rezim        rezim
121        sange        sange
122       serbet       serbet
123        sipit        sipit
124  transgender  transgender